.header__nav {
  .header__items {
    &:hover {
      border-bottom: 3px solid #fcac45;
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      transition: all 0.25s;
    }
  }

  .header__list {
    padding-top: 12px;
    margin-right: 20px;
    color: white;
    z-index: 1;

    &:not(:last-child) {
      margin-right: 0;
    }
  }
}
