.header__nav{

    .header__list {
        padding-top: 12px;
        margin-right: 20px;
        color: white;
        z-index: 1;
        
        &:not(:last-child){
            margin-right: 0;
        }
    }

}