.content {
  padding: 70px 0 20px;

  img,
  .content__blogs {
    border-radius: 2%;
  }

  .containter {
    flex-direction: column;
  }

  &__blogs {
    width: 785px;
    display: flex;
    margin-bottom: 70px;

    .content__blog {
      margin-left: 30px;
      max-width: 367px;

      .content__times-wrapper {
        margin-top: 21px;
      }

      .content__text {
        margin-top: 20px;
        max-width: 300px;
        font-size: 16px;
        line-height: 1.4;
      }

      .content__title {
        line-height: 1.2;
        text-align: left;
      }

      .content__items-tags {
        font-size: 14px;
        padding: 13px 0 0;
        color: #b59f5b;
        margin-left: 18px;
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      .content__category {
        margin-right: 20px;
      }
    }
  }

  &__posts {
    margin-left: auto;
    max-width: 320px;

    .sidebar {
      width: 280px;
    }

    .posts__title {
      margin-bottom: 24px;
      text-align: center;

      &:after {
        content: "";
        display: block;
        margin-right: auto;
        margin-left: auto;
        height: 3px;
        width: 66px;
        margin-top: 14px;
        background-color: #e1d9bd;
      }
    }

    .posts__time-title-wr {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
    }
    .posts__card {
      margin-bottom: 40px;
    }
  }

  .content__search {
    margin-bottom: 40px;
    position: relative;
  }

  .newsletter__title {
    margin-bottom: 24px;
    text-align: center;

    &:after {
      content: "";
      display: block;
      margin-right: auto;
      margin-left: auto;
      height: 3px;
      width: 66px;
      margin-top: 14px;
      background-color: #e1d9bd;
    }
  }

  .newsletter__subscription {
    display: flex;
    flex-direction: column;
  }

  .newsletter__btn {
    margin: 10px auto;
  }

  .newsletter__btn {
    margin-bottom: 40px;
  }

  .search__group {
    width: 100%;
  }

  .search__btn {
    position: absolute;
    right: 0;
  }

  .content__tags-title {
    margin-bottom: 24px;
    text-align: center;
    &:after {
      content: "";
      display: block;
      margin-right: auto;
      margin-left: auto;
      height: 3px;
      width: 66px;
      margin-top: 14px;
      background-color: #e1d9bd;
    }
  }

  .content__tags-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 300px;
    margin-bottom: 40px;
  }

  .categ-title {
    margin-bottom: 24px;
    text-align: center;
    color: #0f0d0e;
    &:after {
      content: "";
      display: block;
      margin-right: auto;
      margin-left: auto;
      height: 3px;
      width: 66px;
      margin-top: 14px;
      background-color: #e1d9bd;
    }
  }

  .categ__item {
    padding: 12px 0;
    border-bottom: 1px solid #eeeeee;
  }

  .categ__link,
  .content__variables {
    &:hover {
      color: red;
      transition: all 0.25s;

      
    }
   
  }
  .sup {
    margin-left: 6px;
    color: rgb(96, 163, 96);
    transition: all 0.25s;
  }

  &__variables {
    display: inline-block;
    padding: 4px 12px;
    border: 3px solid #eeeeee;
    font-size: 12px;
    color: #0f0d0e;
    margin: 5px;
  }
}
