.search__btn {
    display: flex;
    padding: 0;
    width: 50px;
    height: 49px;
    background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
    background-color: #b59f5b;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;

}

.btn {
    width: 100%;
    padding: 13px 0;
    background-color: #b59f5b;
    font-size: 14px;
    color: #ffffff;

    &:hover{
        background-color: red;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
        transition: all 0.25s;
    }
}